.bg-light {
  background-color: #f5f5f5;
}

.bg-white {
  background-color: white;
}

.bg-dark {
  background-color: #333333;
}

.bg-black {
  background-color: #111111;
}

.text-light {
  color: #f5f5f5;
}

.text-white {
  color: white;
}

.text-dark {
  color: #333333;
}

.text-black {
  color: #111111;
}
