html {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  min-width: 320px;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  color: #333333;
  background-color: #f5f5f5;
  transition: opacity ease-in 0.2s;
  font-family: "Roboto", arial, "Noto Sans Japanese", sans-serif;
  line-height: 1.6;
}

.body-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

header {
  display: block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  color: #333333;
  transition: height 0.18s ease-in;
  height: 56px;
  width: 100%;
}

.header-container {
  position: relative;
  height: 100%;
  padding: 0 1.5rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.header-container .left {
}

.header-container .right {
  flex: 1 1 0%;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
}

.header-control {
  justify-self: end;
}

main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  position: relative;
  min-height: 0;
  height: 100px;
  width: 100%;
}

.main-container {
  text-align: center;
  outline: none;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  padding: 24px 24px;
  display: flex;
}

.main-row {
  background: url("~assets/img/opportunities-min.jpeg") no-repeat center/cover;
  background-attachment: fixed;
}

.row-content {
  margin: auto;
  align-self: center;
  min-height: 40%;
  min-width: 40%;
  max-width: 700px;
  box-shadow: 0 0 4px 2px #cccccc;
}

footer {
  height: 5vh;
  min-height: 40px;
  display: flex;
}

.footer-content {
  margin: auto;
}

.links-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px;
}

.links-column {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1.5rem;
}

.link-content {
  margin: auto;
  padding-top: 0.2rem;
}

.organized {
  background: url("~assets/img/organized-desk-min.jpeg") no-repeat center/cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  header {
    height: 64px;
  }

  .small-row {
    min-height: 560px;
  }

  .full-row {
    height: 100vh;
    min-height: 620px;
    margin: auto;
  }

  .small-row {
    height: 60vh;
    min-height: 460px;
    margin: auto;
  }

  .tiny-row {
    height: 35vh;
    margin: auto;
  }

  .links-column {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0;
  }

  .links-wrapper {
    margin: auto;
  }
}
