.shadow {
  height: 6px;
  bottom: -6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.has-shadow {
  opacity: 1;
}
