.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .p-md-2 {
    padding: 2rem;
  }
}
