.title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.links-title {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: #5a5a5a solid 1px;
}

.text-important {
  font-size: 18px;
  font-weight: 500;
  margin: 30px;
  display: block;
}
