<template>
  <div class="body-container">
    <header>
      <div class="header-container">
        <div class="left">
          <nuxt-link to="/"><h2 class="text-dark">MindCompile</h2></nuxt-link>
        </div>
        <div class="right">
          <div class="header-control">
            <div class="btn btn-primary material-button-raised">Join</div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="shadow has-shadow"></div>
      <div class="main-container">
        <nuxt/>
        <section class="small-row bg-dark text-light links-container text-left">
          <div class="links-column">
            <div class="links-wrapper">
              <div class="link-content links-title">
                About MindCompile
              </div>
              <div class="link-content">
                <nuxt-link to="description">Complete Description</nuxt-link>
              </div>
              <div class="link-content">
                <a href="">Development Blog</a>
              </div>
              <div class="link-content">
                <nuxt-link to="team">The Team</nuxt-link>
              </div>
            </div>
          </div>
          <div class="links-column">
            <div class="links-wrapper">
              <div class="link-content links-title">
                Education &amp; Business
              </div>
              <div class="link-content">
                <nuxt-link to="groups">Mind Groups</nuxt-link>
              </div>
              <div class="link-content">
                <nuxt-link to="demand">On Demand</nuxt-link>
              </div>
              <div class="link-content">
                <nuxt-link to="promote">Promote</nuxt-link>
              </div>
            </div>
          </div>
          <div class="links-column">
            <div class="links-wrapper">
              <div class="link-content links-title">
                Policies &amp; Privacy
              </div>
              <div class="link-content">
                <nuxt-link to="promote">Terms &amp; Conditions</nuxt-link>
              </div>
              <div class="link-content">
                <nuxt-link to="privacy">Privacy Policy</nuxt-link>
              </div>
              <div class="link-content">
                <nuxt-link to="cookies">Cookies</nuxt-link>
              </div>
            </div>
          </div>
        </section>
        <footer class="bg-black text-light">
          <div class=" footer-content">Copyright &copy; 2018 MindCompile</div>
        </footer>
      </div>
    </main>
  </div>
</template>

<style>
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
