<template>
  <div></div>
</template>

<script>
export default {
  name: 'cookies',
  head() {
    return {
      title: 'Cookies Policy',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Description of how MindCompile uses cookies'
        }
      ]
    };
  }
};
</script>

<style>
</style>
