<template>
  <div></div>
</template>

<script>
export default {
  name: 'demand',
  head() {
    return {
      title: 'On Demand Research',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Outsource the research and compilation of information'
        }
      ]
    };
  }
};
</script>

<style>
</style>
