<template>
  <div></div>
</template>

<script>
export default {
  name: 'description',
  head() {
    return {
      title: 'Complete Description',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Complete description of functionality offered by MindCompile'
        }
      ]
    };
  }
};
</script>

<style>
</style>
