<template>
  <div></div>
</template>

<script>
export default {
  name: 'groups',
  head() {
    return {
      title: 'Mind Groups',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'MindCompile for teams'
        }
      ]
    };
  }
};
</script>

<style>
</style>
