<template>
  <div>
    <section class="full-row main-row">
      <div class="row-content bg-light text-dark p-md-2">
        <img src="~/assets/img/logo.png" alt />
        <h1 class="title m-0">MindCompile</h1>
        <h2 class="pb-1">Unlimited power. Unlimited possibilities.</h2>
        <div class="btn btn-primary material-button-raised btn-large mb-1">Join</div>
      </div>
    </section>
    <section class="small-row">
      <div class="row-content bg-dark text-light p-md-2">
        <h2>What is MindCompile?</h2>
        <p class="text-important">
          MindCompile has the sole purpose of improving your life. It achieves that by helping you organize your mind.
          <br />We learn something every day, but unfortunatelly for us, we forget most of it.
        </p>
        <p class="text-important">
          <i>If only we would remember everything, we would be able to state that we get better with every experience.</i>
        </p>
        <p
          class="text-important"
        >MindCompile acts as a central hub from where we can reach useful resources. It is the gateway to power.</p>
      </div>
    </section>
    <div class="tiny-row organized"></div>
    <section class="small-row">
      <div class="row-content bg-light text-dark p-md-2">
        <h2>How does MindCompile work?</h2>
        <p
          class="text-important"
        >It let's you store every piece of information in a simple, yet effective manner.</p>
        <p class="text-important">
          Maybe you watched a video about the stock market and found it interesting, or maybe you read a blog post and considered that
          the story presented could help you make better decisions in a certain situation.
        </p>
        <p class="text-important">
          MindCompile enables you to store that source, together with a descriptive text and keywords, thus making it easy to find.
          It also let's you categorize it and publish it. Every published learning contributes to helping all users -
          <i>good people learn from their mistakes, but the great ones learn also from the mistakes of others.</i>
        </p>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'home',
  head() {
    return {
      title: 'MindCompile',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'The gateway to unlimited power'
        }
      ]
    };
  }
};
</script>
