<template>
  <div></div>
</template>

<script>
export default {
  name: 'promote',
  head() {
    return {
      title: 'Promoted Resources',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Make your resources easier to reach by millions'
        }
      ]
    };
  }
};
</script>

<style>
</style>
