<template>
  <div></div>
</template>

<script>
export default {
  name: 'team',
  head() {
    return {
      title: 'The MindCompile Team',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Get to know the team behind MindCompile'
        }
      ]
    };
  }
};
</script>

<style>
</style>
