<template>
  <div></div>
</template>

<script>
export default {
  name: 'terms',
  head() {
    return {
      title: 'Terms and Conditions',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Definition and explanation of terms and conditions'
        }
      ]
    };
  }
};
</script>

<style>
</style>
